body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    display: grid;
    background-color: rgb(34, 171, 250);
}

li {
    color: white;
    font-weight: bold;
    list-style-type: none;
}