body {
    display: grid;
    grid-template: auto 4fr / 1fr 5fr;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.sidebar {
    display: grid;
    background-color: rgb(34, 171, 250);
    padding-left: .4rem;
    grid-template-rows: auto auto 1fr;
    grid-area: 1 / 1 / -1 / 2;
    min-height: 58.35rem;
}

.secondary-links {
    align-self: end;
}

.logo {
    color: white;
    display: flex;
    align-items: center;
    transition: .2s ease-in-out;
    gap: 1rem;
    font-size: 1.7rem;
    text-shadow: rgb(157, 157, 157) 1px 1px, rgba(0, 0, 0, 0.337) 2px 2px;
    cursor: default;
}

.logo img {
    height: 4rem;
    padding-left: 1rem;
}

li {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: white;
    font-weight: bold;
    list-style-type: none;
    font-size: 1.8rem;
    text-shadow: rgb(157, 157, 157) 1px 1px, rgba(0, 0, 0, 0.337) 2px 2px;
    transition: .2s ease-in-out;
}

ul {
    padding: 0;
    gap: .5rem;
}

h1 {
    color: white;
    padding-right: 1rem;
}

li:hover {
    background-color: rgb(20 154 231);
    cursor: pointer;
    box-shadow: white -6px 0 0;
    padding-left: .5rem;
}

li img {
    cursor: pointer;
    height: 2rem;
}

.header {
    display: grid;
    align-items: center;
    grid-template: 1fr 2fr / 2fr 1fr;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.267) 0 1px 2px;
    padding: .7rem;
}

.search-container {
    display: flex;
    align-items: center;
    height: 2.5rem;
    gap: .4rem;
}

.icon {
    height: 2.2rem;
    padding-left: .6rem;
    cursor: pointer;
}

#search-field {
    color: #37353c;
    font-weight: bold;
    background-color: #e4ddf4;
    box-shadow: #b4aec0 1px 1px 3px;
    border-radius: 20px;
    height: 1.8rem;
    border: none;
    flex: auto;
    padding-left: .8rem;
}

label {
    display: flex;
}

#search-field:focus {
    outline: none;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
    height: 4rem;
    letter-spacing: .5px;
}

.profile-pic {
    height: 3rem;
    border-radius: 50%;
    border: rgb(195, 195, 195) solid 2px;
    box-shadow: rgba(0, 0, 0, 0.337) 1px 1px 1px;
    transition: .1s ease-in-out;
}

.profile-pic:hover, .profile-pic-big:hover {
    border: rgb(48, 177, 251) solid 2px;
    cursor: pointer;
}

.profile-pic:active, .icon:active {
    transform: scale(.95);
}

h3 {
    font-size: 1.3rem;
}

.project h3:hover, .profile-name:hover, a:hover {
    color: rgb(45, 158, 223);
    text-decoration: underline;
    cursor: pointer;
}

.greeting-container {
    display: grid;
    grid-template: 1fr / auto 1fr;
    gap: 0.5rem 1rem;
    padding-left: 2rem;
    font-weight: bold;
}

.profile-pic-big {
    border: rgb(195, 195, 195) solid 2px;
    box-shadow: rgba(0, 0, 0, 0.337) 1px 1px 1px;
    height: 6rem;
    border-radius: 50%;
    transition: .1s ease-in-out;
}

.user-name {
    font-size: 1.7rem;
    grid-column: 2 / 3;
    grid-row: 1;
    margin-top: 2.6rem;
}

.greeting {
    grid-column: 2 / 3;
    grid-row: 1;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.header-btn {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    width: 7rem;
    height: 2.5rem;
    padding: .2rem 0 .2rem 0;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(28, 166, 246);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.504) 0 0 2px;
    transition: .2s;
}

.btn-container button:hover {
    opacity: 1;
    box-shadow: rgb(39, 143, 203) 0 3px 0;
    background-color: rgb(73, 188, 255);
    transform: scale(1.05);
}

.main-content {
    display: grid;
    background-color: rgb(203, 217, 225);
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.project-container {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.project {
    display: grid;
    grid-template: 1fr auto / 1fr;
    background-color: white;
    margin-top: .5rem;
    border: solid white 2px;
    border-radius: 20px;
    padding: 0 .5rem 1rem 1rem;
    box-shadow: inset rgb(34, 171, 250) .3rem 0 0, inset rgb(26, 135, 197) 0 -.3rem 0, rgba(0, 0, 0, 0.311) 0 .5rem .5rem;
    transition: .2s ease-in-out;
}

.project:hover {
    padding: 0 1.3rem 1rem 1.3rem;
    box-shadow: inset rgb(34, 171, 250) 0 .3rem 0, inset rgb(26, 135, 197) -.3rem 0 0, rgba(0, 0, 0, 0.311) 0 .5rem .5rem;
}

.project-title {
    font-size: 1.6rem;
    grid-column: 1 / -1;
    margin-bottom: .1rem;
}

.project p {
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: 1px;
}

.project-text-block h2 {
    color:rgb(83, 83, 83);
    font-size: 2rem;
    text-shadow: rgba(128, 128, 128, 0.298) 2px 2px 0;
}

.project-action-block {
    display: flex;
    justify-content: end;
    padding-top: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

@media(max-width:600px) {
    .main-links {
        position: fixed;
        top: 8%
    }
    .secondary-links {
        position: fixed;
        top: 72%;
        padding-top: 5rem;
    }
    li p, .logo h1 {
        display: none;
    }
    li {
        margin: 0 0 1.1rem -3px;
        padding-left: .5rem;
        width: .9rem;
    }
    .sidebar {
        width: 4rem;
    }
    .logo img{
        position: fixed;
        top: 1%;
        margin-left:-7px;
        padding: 0 .3rem 0 .3rem;
    }
    li:hover{
        box-shadow: none;
        padding-left: none;
        background-color: rgba(255, 255, 255, 0);
    }
    .profile-container {
        gap: .6rem;
    }
    .icon {
        padding-left: .1rem;
        transform: scale(.9);
    }
    .greeting-container {
        padding-left: 0;
    }
    .btn-container {
        flex-direction: column;
        align-items: start;
        padding-left: 1rem;
        gap: .5rem;
    }
    .profile-container h3 {
        display: none;
    }
    .btn-container button:hover {
        transform: scale(1);
    }
    .project-container h3 {
        font-size: 1.3rem;
        margin: -.1rem 0 0 0;
    }
}