body {
    display: grid;
    grid-template: auto 4fr / 1fr 5fr;
    --sidebar-color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.sidebar {
    display: grid;
    background-image: linear-gradient(rgb(34, 171, 250), rgb(25, 128, 187));
    padding-left: .4rem;
    grid-template-rows: auto auto 1fr;
    grid-area: 1 / 1 / -1 / 2;
}

.secondary-links {
    align-self: end;
}

.logo {
    color: var(--sidebar-color);
    display: flex;
    align-items: center;
    text-decoration: underline;
    transition: .2s ease-in-out;
    gap: 1rem;
    font-size: 1.5rem;
    text-shadow: rgb(157, 157, 157) 1px 1px, rgba(0, 0, 0, 0.337) 2px 2px;
    cursor: default;
}

.logo img {
    height: 4rem;
}

li {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--sidebar-color);
    font-weight: bold;
    list-style-type: none;
    font-size: 1.8rem;
    text-shadow: rgb(157, 157, 157) 1px 1px, rgba(0, 0, 0, 0.337) 2px 2px;
    transition: .2s ease-in-out;
}

ul {
    padding: 0;
    gap: .5rem;
}

h1 {
    color: var(--sidebar-color);
    padding-right: 1rem;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.178);
    cursor: pointer;
    box-shadow: white -6px 0 0;
    padding-left: .5rem;
}

li img {
    cursor: pointer;
    height: 2rem;
}

@media(max-width:500px) {
    .sidebar {
        overflow: hidden;
    }
    li p, .logo h1 {
        display: none;
    }
    li {
        margin-bottom: 1.1rem;
        margin-left: -3px;
    }
    .logo img{
        margin-left:-7px;
        padding-right: .3rem;
    }
    li:hover, .logo:hover {
        box-shadow: none;
        padding-left: 0;
        background-color: rgba(255, 255, 255, 0);
    }
}